<div class="am-accordion my-accordion">
    {{#each items}}
        <div class="am-accordion-item">
        	<div class="re">
	            <a class="am-accordion-header block_a" href="./grouping-detail.html?code={{code}}" aria-expanded="false">
	                <i class="arrow"></i>{{name}}
	            </a>
	            <div class="fs26 al_delBtn" id="btn-delgrouping" data-code="{{code}}"></div>
            </div>
            
            <div class="am-accordion-content am-accordion-content-inactive" data-fetch="false" id="{{code}}">
                <div class="am-accordion-content-box"></div>
            </div>
        </div>
    {{/each}}
</div>
