{{#each items}}
<li>
	<a href="./tourism-note-yj.html?code={{code}}">
		<div class="img">
			<img src="{{formatListImage pic}}"/>
		</div>
		<div class="tit t-3dot">{{name}}</div>
		<div class="icon">
			<div class="fl">
				<img class="fl" src="/static/images/时间.png"><p class="fl">{{formateDate updateDatetime}}</p>
			</div>
		</div>
	</a>
</li>
{{/each}}
