@charset "utf-8";
* ,input{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
}
*, :after, :before {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* 禁用iPhone中Safari的字号自动调整 */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 取消链接高亮 */
}

section {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 取消链接高亮 */
}

.tapArea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* 设置HTML5元素为块 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* 图片自适应 */

img {
    max-width: 100%;
    height: auto;
    width: auto \9;
    /* ie8 */
    -ms-interpolation-mode: bicubic;
    /*为了照顾ie图片缩放失真*/
}


/* 初始化 */

body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

body {
    font-size: 12px;
    position: relative;
    font-family: Microsoft YaHei, '宋体', Tahoma, Arial, sans-serif;
    color: #484848;
    background-color: #fafafa;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
}

textarea,samp,a{
    font-family: Microsoft YaHei, '宋体', Tahoma, Arial, sans-serif;
    color: #484848;
}

.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #484848;
}

a:hover {
    text-decoration: none;
}

a.disabled {
    color: #bdbdbd !important;
}
input:disabled,textarea:disabled{
	background-color: transparent;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

img {
    border: none;
}


/*公用基本样式*/

html,
body {
    margin: 0px;
    overflow-y: auto;
}

html {
    height: 100%;
}

*:focus {
    outline: none;
}

input,
input[type="text"],
input[type="tel"],
input[type="button"],
input[type="num"],
input[type="search"],
input[type="radio"],
input[type="checkbox"],
input[type="password"],
button,
select {
    -webkit-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin-top: 0;
}

textarea {
    resize: none;
}

.t-3dot {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.va {
    vertical-align: middle;
}

/*border-radius*/

.b_radius0 {
    border-radius: 0px;
}

.b_radius3 {
    border-radius: 3px;
}

.b_radius6 {
    border-radius: 6px;
}

.b_radius50 {
    border-radius: 50%;
}

/*背景颜色*/

.bg_fff {
    background-color: #fff;
}

.bg_f0 {
    background-color: #f0f0f0;
}
.bg_f5{
	background-color: #f5f5f5;
}

/*text  字体颜色*/

.t_fff {
    color: #fff;
}
.t_f14e4f {
    color: #f14e4f;
}

.t_666 {
    color: #666;
}
.t_ccc {
    color: #ccc;
}
.t_999 {
    color: #999;
}

.t_888 {
    color: #888;
}
.t_8e{
	color: #8e8e8e;
}

/*text 文字对齐*/

.tc {
    text-align: center;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}


/*text  一行超出显示省略号*/

.t_norwrap {
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.t_bold {
    font-weight: bold;
}

.t_under {
    text-decoration: underline;
}


/*float  浮动*/

.fl {
    float: left;
}

.fr {
    float: right;
}

.fnone {
    float: none;
}

.fcb {
    clear: both;
}


/*宽度*/

.wp10 {
    width: 10%;
}

.wp15 {
    width: 15%;
}

.wp20 {
    width: 20%;
}

.wp24 {
    width: 24%;
}

.wp25 {
    width: 25%;
}

.wp28 {
    width: 28%;
}

.wp30 {
    width: 30%;
}

.wp33 {
    width: 33.33333333333333%;
}

.wp36 {
    width: 36%;
}

.wp38 {
    width: 38%;
}

.wp40 {
    width: 40%;
}

.wp45 {
    width: 45%;
}

.wp49 {
    width: 49%;
}

.wp50 {
    width: 50%;
}

.wp60 {
    width: 60%;
}

.wp62 {
    width: 62%;
}

.wp70 {
    width: 70%;
}

.wp72 {
    width: 72%;
}

.wp75 {
    width: 75%;
}

.wp76 {
    width: 76%;
}

.wp80 {
    width: 80%;
}

.wp82 {
    width: 82%;
}

.wp90 {
    width: 90%;
}

.wp100 {
    width: 100%;
}

/*高度*/

.hp100 {
    height: 100%;
}


/*display*/

.hidden {
    display: none;
}

.show {
    display: block;
}

.inline_block {
    display: inline-block;
}

.inline {
    display: inline;
}



/*position*/

.re {
    position: relative;
}

.ab {
    position: absolute;
}
.ab_tr0 {
    position: absolute;
    top: 0;
    right: 0;
}
.ab_tl0 {
    position: absolute;
    top: 0;
    left: 0;
}
.fixft {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 11;
}
.fixed_i{
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
}

/*透明度*/

.opac0 {
    opacity: 0;
}

.opac1 {
    opacity: 1;
}

.twoline-ellipsis {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.break-word {
    word-wrap: break-word;
    word-break: break-all;
}


/*border*/

.nobr {
    border: 0;
}
.b_e_b{
	border-bottom: 1px solid #eee;
}

/*flex*/
.flex {
    display: -webkit-box;
    display: flex;
}

.over-hide{
	overflow: hidden;
}

/*右箭头*/

.arrow_r,
.arrow_r2,
.arrow_b {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #dedede;
    border-left: 0;
    border-bottom: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: middle;
}

.arrow_r2 {
    border: 1px solid #757575;
    border-left: 0;
    border-bottom: 0;
}

.arrow_b {
    border: 1px solid #757575;
    border-left: 0;
    border-top: 0;
}