.traffic-nav {
    .nav-class ul li {
        margin-right: 68px;

        &:last-child {
            margin-right: 0;
        }

        &.active p {
            color: #06CDB8;
        }

        img {
            width: 88px;
            height: 88px;
            max-width: inherit !important;
        }
    }
}

.my-laydate-icon {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: transparent;
    padding: 0 10px;
    font-size: 15px;
}

.traffic-search .searchBtn {
    cursor: pointer;
}
@keyframes antRotate {
    100% {
        transform: rotate(405deg);
    }
}
@keyframes antSpinMove {
    100% {
        opacity: 1;
    }
}

.ant-spin-nested-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.modal-map-ant-spin-loading {
        top: 64px;
        left: 16px;
        right: 16px;
        height: inherit;
        width: inherit;
        bottom: 16px;
        z-index: 1002;
    }

    .ant-spin-dot {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -14px;
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        animation: antRotate 1.2s infinite linear;

        i {
            width: 9px;
            height: 9px;
            border-radius: 100%;
            background-color: #06CDB8;
            transform: scale(.75);
            display: block;
            position: absolute;
            opacity: 0.3;
            animation: antSpinMove 1s infinite linear alternate;
            transform-origin: 50% 50%;

            &:first-child {
                left: 0;
                top: 0;
            }

            &:nth-child(2) {
                right: 0;
                top: 0;
                animation-delay: 0.4s;
            }

            &:nth-child(3) {
                right: 0;
                bottom: 0;
                animation-delay: 0.8s;
            }

            &:nth-child(4) {
                left: 0;
                bottom: 0;
                animation-delay: 1.2s;
            }
        }
    }

    .ant-spin-blur {
        overflow: hidden;
        opacity: 0.7;
        filter: blur(.5px);
        filter: progid\: DXImageTransform\.Microsoft\.Blur(PixelRadius\=1,MakeShadow\=false);
        -webkit-transform: translateZ(0);
    }

    .ant-spin-container {
        transition: all 0.3s cubic-bezier(.645,.045,.355,1);
        position: relative;
        height: 100%;
        background-color: #fff;
    }
}

.traffic-content.content {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 30px;
}

.traffic-table {
    min-height: 100px;
}

.traffic-search .trfSearch-wrap .search-datetime {
    width: 240px !important;
}

.cur-pointer {
    cursor: pointer;
}

.ant-modal-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #373737;
    background-color: rgba(55,55,55,.6);
    height: 100%;
    z-index: 1000;
    filter: alpha(opacity=50);
}

.ant-modal-wrap {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    .ant-modal {
        position: relative;
        width: auto;
        margin: 0 auto;
        top: 100px;
        padding-bottom: 24px;

        .ant-modal-content {
            position: relative;
            background-color: #fff;
            border: 0;
            border-radius: 4px;
            background-clip: padding-box;
            box-shadow: 0 2px 8px rgba(0,0,0,.2);

            .ant-modal-close {
                cursor: pointer;
                border: 0;
                background: transparent;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 10;
                font-weight: 700;
                line-height: 1;
                text-decoration: none;
                -webkit-transition: color 0.3s ease;
                transition: color 0.3s ease;
                color: rgba(0,0,0,.43);
                outline: 0;

                .ant-modal-close-x {
                    display: block;
                    font-style: normal;
                    vertical-align: baseline;
                    text-align: center;
                    text-transform: none;
                    text-rendering: auto;
                    width: 48px;
                    height: 48px;
                    line-height: 48px;
                    font-size: 14px;
                    background: url("../images/close.png") no-repeat center;
                }
            }

            .ant-modal-header {
                padding: 13px 16px;
                border-radius: 4px 4px 0 0;
                background: #fff;
                color: rgba(0,0,0,.65);
                border-bottom: 1px solid #e9e9e9;

                .ant-modal-title {
                    margin: 0;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 500;
                    color: rgba(0,0,0,.85);
                }
            }

            .ant-modal-body {
                padding: 16px;
                font-size: 12px;
                line-height: 1.5;
                position: relative;
            }

            .ant-modal-footer {
                border-top: 1px solid #e9e9e9;
                padding: 10px 16px 10px 10px;
                text-align: right;
                border-radius: 0 0 4px 4px;

                button+button {
                    margin-left: 8px;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.modal-place-wrap {
    margin-bottom: 20px;

    .modal-place-input {
        position: relative;
        display: inline-block;
        padding: 4px 7px;
        width: 300px;
        height: 28px;
        cursor: text;
        font-size: 12px;
        line-height: 1.5;
        color: rgba(0,0,0,.65);
        background-color: #fff;
        background-image: none;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        transition: all 0.3s;
    }
}

.ant-btn,
.ant-btn:active,
.ant-btn:focus {
    outline: 0;
}

.ant-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    padding: 0 15px;
    font-size: 12px;
    border-radius: 4px;
    height: 28px;
    user-select: none;
    transition: all 0.3s cubic-bezier(.645,.045,.355,1);
    position: relative;
    color: rgba(0,0,0,.65);
    background-color: #fff;
    border-color: #d9d9d9;
}

.ant-btn-lg {
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    height: 32px;
}

.ant-btn-primary {
    color: #fff;
    background-color: #FFAE00;
    border-color: #FFAE00;
}

.ant-btn:focus,
.ant-btn:hover {
    color: #FFAE00;
    background-color: #fff;
    border-color: #FFAE00;
}

.ant-btn-primary:focus,
.ant-btn-primary:hover {
    color: #fff;
    background-color: #ecc267;
    border-color: #ecc267;
}

.ant-btn.disabled,
.ant-btn.disabled.active,
.ant-btn.disabled:active,
.ant-btn.disabled:focus,
.ant-btn.disabled:hover,
.ant-btn[disabled],
.ant-btn[disabled].active,
.ant-btn[disabled]:active,
.ant-btn[disabled]:focus,
.ant-btn[disabled]:hover {
    color: rgba(0,0,0,.25);
    background-color: #f7f7f7;
    border-color: #d9d9d9;
}

.ant-btn-primary.disabled,
.ant-btn-primary.disabled.active,
.ant-btn-primary.disabled:active,
.ant-btn-primary.disabled:focus,
.ant-btn-primary.disabled:hover,
.ant-btn-primary[disabled],
.ant-btn-primary[disabled].active,
.ant-btn-primary[disabled]:active,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:hover {
    color: rgba(0,0,0,.25);
    background-color: #f7f7f7;
    border-color: #d9d9d9;
}

.ant-btn.disabled,
.ant-btn[disabled] {
    cursor: not-allowed;
}

.tangram-suggestion-main {
    z-index: 1001;
}

input[type=button][disabled] {
    cursor: not-allowed;
}

.ui-dialog-footer button {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

.ui-dialog-footer button:active,
.ui-dialog-footer button:focus,
.ui-dialog-footer button:hover {
    color: #FFAE00;
    background-color: #fff;
    border-color: #FFAE00;
}

.ui-dialog-footer button.ui-dialog-autofocus {
    color: #fff;
    background-color: #FFAE00;
    border-color: #FFAE00;
}

.ui-dialog-footer button.ui-dialog-autofocus:active,
.ui-dialog-footer button.ui-dialog-autofocus:focus,
.ui-dialog-footer button.ui-dialog-autofocus:hover {
    color: #fff;
    background-color: #ecc267;
    border-color: #ecc267;
}

.ui-dialog-footer button:active {
    background-image: none;
    outline: 0;
    box-shadow: none;
}

.ui-dialog-footer button:focus {
    outline: 5px auto #FFAE00;
    outline-offset: -2px;
}

.smf {
    color: #787878;
    font-size: 9px;
    padding-left: 4px;
}

.traffic-table.carpool-table {
    text-align: left;

    thead tr th {
        padding: 0 8px;
        min-width: 62px;
    }

    tbody tr {
        cursor: pointer;

        &:hover {
            background: #f7f3f3;
        }

        td {
            padding: 16px 8px;
        }
    }
}

.traffic-btn input:focus,
.traffic-btn input:hover {
    color: #fff;
    background-color: #ecc267;
    border-color: #ecc267;
}

.orderSearch .ant-btn-primary {
    width: 114px;
    height: 42px;
    font-size: 18px;
    font-weight: 400;
}

.orderList {
    min-height: 160px;
}

.ml0i {
    margin-left: 0 !important;
}

.orderList {
    position: relative;
}

.ant-input {
    position: relative;
    display: inline-block;
    padding: 4px 7px;
    width: 100%;
    height: 28px;
    cursor: text;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0,0,0,.65);
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

textarea.ant-input {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    font-size: 15px;
    color: #282828;
}

.ant-input:focus,
.ant-input:hover {
    border-color: #06cdb8;
}

.pt27 {
    padding-top: 27px;
}

.pt10 {
    padding-top: 10px;
}

.pt9 {
    padding-top: 9px;
}

.pl91 {
    padding-left: 91px;
}

.w400p {
    width: 400px;
}

.ant-upload {
    font-size: 12px;
    outline: 0;
}

.ant-upload.ant-upload-select {
    display: inline-block;
}

.ant-upload-list {
    overflow: hidden;
}

.ant-upload-list-picture-card {
    display: block;
    padding-top: 10px;
}

.ant-upload-list-item {
    overflow: hidden;
    margin-top: 8px;
    font-size: 12px;
    position: relative;
    height: 24px;
}

.ant-upload-list-item-error,
.ant-upload-list-item-error .ant-upload-list-item-name,
.ant-upload-list-item-error .anticon-paper-clip {
    color: #f04134;
}

.ant-upload-list-picture .ant-upload-list-item,
.ant-upload-list-picture-card .ant-upload-list-item {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    height: 66px;
    position: relative;
}

.ant-upload-list-picture-card .ant-upload-list-item {
    float: left;
    width: 96px;
    height: 96px;
    margin: 0 8px 8px 0;
}

.ant-upload-list-picture .ant-upload-list-item-error,
.ant-upload-list-picture-card .ant-upload-list-item-error {
    border-color: #f04134;
}

.ant-upload-list-item-info {
    line-height: 24px;
    padding: 0 12px 0 4px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.ant-upload-list-picture .ant-upload-list-item-info,
.ant-upload-list-picture-card .ant-upload-list-item-info {
    padding: 0;
}

.ant-upload-list-picture-card .ant-upload-list-item-info {
    height: 100%;
    position: relative;
}

.ant-upload-list-picture-card .ant-upload-list-item-info:before {
    content: " ";
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,.5);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.ant-upload-list-picture .ant-upload-list-item-thumbnail,
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.ant-upload-list-picture-card .ant-upload-list-item-thumbnail,
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
    display: block;
    width: 100%;
    height: 100%;
    position: static;
}

.ant-upload-list-item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 16px;
    width: 100%;
    display: inline-block;
}

.ant-upload-list-item-error,
.ant-upload-list-item-error .ant-upload-list-item-name,
.ant-upload-list-item-error .anticon-paper-clip {
    color: #f04134;
}

.ant-upload-list-picture .ant-upload-list-item-name,
.ant-upload-list-picture-card .ant-upload-list-item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 0 8px;
    line-height: 44px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-left: 48px;
    padding-right: 8px;
    max-width: 100%;
    display: inline-block;
    box-sizing: border-box;
}

.ant-upload-list-picture-card .ant-upload-list-item-name {
    display: none;
}

.ant-upload-list-picture .ant-upload-list-item-thumbnail img,
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
    width: 48px;
    height: 48px;
    display: block;
    overflow: hidden;
    border-radius: 4px;
}

.ant-upload-list-picture-card .ant-upload-list-item-thumbnail,
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
    display: block;
    width: 100%;
    height: 100%;
    position: static;
}

.ant-upload-list-picture-card .ant-upload-list-item-actions {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 10;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.ant-upload-list-picture .ant-upload-list-item:hover .ant-upload-list-item-info,
.ant-upload-list-picture-card .ant-upload-list-item:hover .ant-upload-list-item-info {
    background: transparent;
}

.ant-upload-list-picture-card .ant-upload-list-item:hover .ant-upload-list-item-info:before {
    opacity: 1;
}

.ant-upload-list-picture-card .ant-upload-list-item-actions:hover,
.ant-upload-list-picture-card .ant-upload-list-item-info:hover+.ant-upload-list-item-actions {
    opacity: 1;
}

.anticon {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-delete,
.ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-eye-o {
    z-index: 10;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 16px;
    width: 16px;
    height: 16px;
    color: hsla(0,0%,100%,.91);
    margin: 0 4px;
}

.anticon-delete {
    background: url("../images/delete1.png") no-repeat center;
    background-size: contain;
}

.anticon-eye-o {
    background: url("../images/read.png") no-repeat center;
    background-size: contain;
}

.ant-upload-list-picture-card .ant-upload-list-item-uploading-text {
    margin-top: 18px;
    color: rgba(0,0,0,.43);
}

.ant-upload-list-item .anticon-cross {
    display: inline-block;
    -webkit-transform: scale(.83333333) rotate(0deg);
    -ms-transform: scale(.83333333) rotate(0deg);
    transform: scale(.83333333) rotate(0deg);
    -ms-filter:  "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
    zoom: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 12px;
    height: 12px;
    background: url("../images/close.png") no-repeat center;
    background-size: contain;
}

.ant-upload-list-item:hover .anticon-cross {
    opacity: 1;
}

.ant-upload-list-picture-card .ant-upload-list-item-uploading.ant-upload-list-item {
    background-color: #fbfbfb;
}

.ant-upload-list-picture .ant-upload-list-item-uploading,
.ant-upload-list-picture-card .ant-upload-list-item-uploading {
    border-style: dashed;
}

.ant-upload-list-picture-card .ant-upload-list-item-uploading .ant-upload-list-item-info {
    height: auto;
}

.ant-upload-list-picture-card .ant-upload-list-item-uploading .ant-upload-list-item-info .anticon-delete,
.ant-upload-list-picture-card .ant-upload-list-item-uploading .ant-upload-list-item-info .anticon-eye-o,
.ant-upload-list-picture-card .ant-upload-list-item-uploading .ant-upload-list-item-info:before {
    display: none;
}

.ant-upload-list-item-progress {
    line-height: 0;
    font-size: 12px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.ant-upload-list-picture .ant-upload-list-item-progress,
.ant-upload-list-picture-card .ant-upload-list-item-progress {
    padding-left: 56px;
    margin-top: 0;
}
.ant-upload-list-picture-card .ant-upload-list-item-progress {
    padding-left: 0;
}
.ant-progress {
    display: inline-block;
}
.ant-progress-line {
    width: 100%;
    font-size: 12px;
    position: relative;
}
.ant-progress-outer {
    display: inline-block;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
}
.ant-progress-inner {
    display: inline-block;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 100px;
    vertical-align: middle;
}

.ant-progress-bg {
    border-radius: 100px;
    background-color: #06cdb8;
    -webkit-transition: all .4s cubic-bezier(.08,.82,.17,1) 0s;
    transition: all .4s cubic-bezier(.08,.82,.17,1) 0s;
    position: relative;
}

form.travelForm {
    label.error {
        display: inline-block !important;
    }
}

select {
    cursor: pointer;
}
